.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.back {
    margin-top: 50px;
    position: relative;
    width: 35%;
    height: 50px;
    border-radius: 0px;
}

.back:hover{
    font-weight: bold;
}

.delete {
    margin-top: 50px;
    position: relative;
    width: 35%;
    height: 50px;
    background: #d90429;
    border-radius: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
}

.delete.active{
    background: #d90429;
}

.delete span {
    position: absolute;
    left: 50px;
    width: 18px;
    height: 20px;
    display: inline-block;
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 0.3s;
}

.delete:hover span {
    transform: scale(1.2) rotate(60deg) translateY(10px);
}

.delete.active span {
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    border-radius: 0;
    width: 20px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.delete span::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 100%;
    height: 2px;
    background: #fff;
    box-shadow: 12px -2px 0 #d90429,
        12px -3px 0 #d90429,
        15px -1px 0 #d90429,
        6px -2px 0 #fff;
    transition: 0.5s;
}

.delete.active:hover span::before, 
.delete.active span::before {
    transform: scale(0);
}

.delete:hover span::before{
    transform: rotate(-90deg) translateX(50%) translateY(-10px);
}

.delete text{
    position: absolute;
    color: #fff;
    left: 80px;
    transition: 0.5s;
}

.delete:hover text, 
.delete.active text{
    transform: translateX(-50px) translateY(-5px) scale(0);
}